<form action="/restaurants" method="POST" class="row mx-auto p-2">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto py-3">
    
          <p class="mb-1">
            <span class="text-secondary">
              <i class="fas fa-store"></i>
              餐廳名稱：
            </span>
            <input type="text" placeholder="店名" name="name" required>
          </p>
          
          <p class="mb-1">
            <span class="text-secondary">
              <i class="fas fa-store-alt"></i>
              英文店名：
            </span>
            <input type="text" placeholder="name" name="name_en" required>
          </p>
          
          <p class="mb-1">
            <span class="text-secondary">
              <i class="fas fa-utensils pr-2"></i>
              餐飲類別：
            </span>
            <input type="text" placeholder="餐廳飲食種類" name="category" required>
          </p>
          
          <p class="mb-1">
            <span class="text-secondary">
              <i class="fas fa-images pr-1"></i>
              照片連結：
            </span>
            <input type="url" placeholder="圖片檔案網址" name="image" required>
          </p>
    
          <p class="mb-1">
            <span class="text-secondary">
              <i class="fas fa-location-arrow pr-2"></i>
              店面地址：
            </span>
            <input type="text" placeholder="縣市、門牌號碼(樓層)" name="location" required>
          </p>
    
          <p class="mb-1">
            <span class="text-secondary">
              <i class="fas fa-phone pr-2"></i>
              聯絡電話：
            </span>
            <input type="tel" placeholder="市話或手機皆可" name="phone" required minlength="7">
          </p>
          
           <p class="mb-1">
            <span class="text-secondary">
              <i class="fas fa-map-marked-alt pr-2"></i>
              地圖連結：
            </span>
            <input type="url" placeholder="Google地圖頁面網址" name="google_map" required>
          </p>
          
          <p class="mb-1">
            <span class="text-secondary">
              <i class="fas fa-star-half-alt pr-2"></i>
              餐後評分：
            </span>
            <input type="number" placeholder="1位小數" step="0.1" min="0" max="5" name="rating" class="col-2" required>
          </p>
          
           
            <span class="text-secondary">
              <i class="fas fa-info"></i>
              店面簡介：
            </span>
          <p class="mb-1">
            <textarea type="text" placeholder="餐廳特色說明" name="description" class="w-75"></textarea required>
          </p>
          
          <button type="submit" class="btn btn-info">新增店家</button>
          
        </div>
      </div>
    </div>
</form>